body {
    background-image: url("../images/backgroundimage.png");
    background-repeat: repeat;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#TopHeader {
    background-color: #ffffff;
    width: 100%;
    margin:0;
    top: 0;
    padding: 0;
    border-bottom: 3px #cccccc solid;
}

#HeaderName {
    background-color: #4AAAA5;
    color: #ffffff;
    padding: 10px;
    margin: 0px;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
    padding: 0 3px;
}


#NaviBar {
    float: right;
    margin-right: 10px;
    color: #777777;
}

.AboutMeSection {
    width: 938px;   
    align-items: center;
    background-color: #ffffff;
    margin: 15px auto;
    padding: 5px 10px;
    color: #777777;
    border: 1px solid #dddddd;

}

#AboutME {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 15px;
}

#JessePic1 {
    width: 10%;
    height: 10%;
    margin-right: 10px;
    float: left;
}

.copyright {
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4AAAA5;
    width: 100%;
    padding:10px;
    margin-bottom: 0;
}