body {
    background-image: url("../images/backgroundimage.png");
    background-repeat: repeat;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    font-size: 8px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6 {
    font-size: 6px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 3px;
}

.TopHeader {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 3px #cccccc solid;
}

.HeaderName {
    background-color: #4AAAA5;
    color: #ffffff;
    padding: 10px;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
    padding: 0 3px;   
}


.NaviBar {
    float: right;
    margin-right: 10px;
    color: #777777;
    align-self: center;
    padding-top: 15px;
}

.AboutMeSection {
    width: 938px;   
    align-items: center;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    color: #777777;
    border: 1px solid #dddddd;
}

#aboutme {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#contactme {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#portfolioid {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#JessePic1 {
    width: 10%;
    height: 10%;
    margin-right: 10px;
    float: left;
}

.copyright {
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4AAAA5;
    width: 100%;
    padding:10px;
    margin-bottom: 0;
    font-size: 8px;
    z-index: 3;
}

.ContactMeDiv {
    width: 938px;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    border: 1px solid #dddddd;
}

.CommentsSection {
    width: 98%  ;
    height: 200px;
    border-color: #666666;
    border-width: 1px;
    margin-bottom: 5px;  
}

.ContactStyle {
    width: 50%;
    border-color: #666666;
    border-width: 1px;
} 

a:link {
    text-decoration: none;
    color:  #777777;
}

li h3 a:hover {
    color: #4aaaa5;
}

a:visited {
    color: #777777;
}

a:active {
    text-decoration: underline;
    color: #777777;
}

.submit {
    padding: 10px 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #666666;
    border-radius: 4px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.portfoliosection {
    width: 938px;   
    /* align-items: center; */
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

.hangdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.rpgdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.triviadiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}
    
.rutgersdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.rpsdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.projecttitle {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px 0px;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    z-index: 1;
    left: 0;
    top: 45%;
    font-weight: bold;
}

.GalleryClass {
    margin: 30px 0px;
    display: inline-block;
}

.picsize {
    width: 100%;
}